<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">NailStash</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">A way to store all the nail polish. Built with Ruby on Rails and Bootstrap</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Brand</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Nails</button>
      </div>
    </div>
</div>